body {
  
  background-color:#34d9eb;
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}


#section { 
  Margin-top:300px;
  
}

#section2 {
  Margin-left:530px;
  Margin-right:530px;
}



#line0 { 
   
   Color: white;

}


#line2 { 
   Width: 50%;
   Margin: 0 auto;
   Font-size: 75px;
   Color: white;

}


#line3 { 
    
    
    Color: white;
   

}
